.todoList {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-color: #ffffff;
    border-width: 0.5rem;
    border-style: solid;
    padding: 10px;
}

.todoListHeader {
    text-align: center;
    font-size: 2rem;
}

.todoListFooter {
    text-align: center;
    font-size: 0.8rem;
}